.madal {
  background-color: #f6f6f6;
  border: 1px solid black;
  width: 500px;
  padding: 20px;
  display: none;
}

.madal-form{
  position: relative;
  display: flex;
}

.madal-content {
  display: flex;
  align-items: center;
}

.madal-custom__select {
  min-width: 88px;
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
  border: none;
  background-color: #F9F9F9;
  margin-top: 5px;
  cursor: pointer;
}

.madal-select__selected {
  background-color: rgb(62, 231, 243);
}

.madal-search__form{
  margin-left: 25px;
  margin-right: 50px;
  border: none;
  background-color: transparent;
}

.madal--open{
  display: block;
}